<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title id="dashboard-title">Kodutöö analüüs</title>

    <!-- Vega -->
    <script src="https://cdn.jsdelivr.net/npm/vega@6.1.2/build/vega.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@6.1.0/build/vega-lite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@7.0.2/build/vega-embed.min.js"></script>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Flatpickr -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/dark.css">

    <!-- Charts and datepicker js -->
    <script src="../static/chart_endpoints.js"></script>
    <script src="../static/datepicker.js"></script>
    <script src="../static/other.js"></script>

    <!-- Custom styles -->
    <link rel="stylesheet" href="../static/styles/theme.css">
    <link rel="stylesheet" href="../static/styles/datepicker_styles.css">
    <link rel="stylesheet" href="../static/styles/vega.css">
    <link rel="stylesheet" href="../static/styles/styles.css">

    <!-- Get font from Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
</head>

<body class="bg-dark text-light">

<header class="py-4 text-center">
    <h1 class="fw-bold">Kodutöö analüüside ülevaade</h1>
</header>

<div class="d-none d-lg-block filter-card">
    <aside class="p-4 rounded-end">
        <h4 class="mb-4">Filtrid</h4>

{#        <div class="form-check mb-3">#}
{#            <input class="form-check-input" type="checkbox" id="zeroGrades">#}
{#            <label class="form-check-label" for="zeroGrades">#}
{#                Eemalda nullesitused#}
{#            </label>#}
{#        </div>#}

        <div class="mb-3">
            <label for="date_range" class="form-label">Vali ajavahemik</label>
            <input type="text" id="date_range" class="form-control" placeholder="Vali ajavahemik">
        </div>

        <button class="btn btn-outline-primary w-100 mb-3" onclick="updateCharts()">Filtreeri</button>
        <button class="btn btn-outline-danger w-100" onclick="purgeUploads()">Puhasta üleslaaditud andmed</button>
    </aside>
</div>

<div class="d-block d-lg-none px-3">
    <aside class="bg-dark-subtle p-4 mb-4 rounded">
        <h4 class="mb-4 text-center">Filtrid</h4>
    </aside>
</div>

<main class="container px-4">
    <div class="mx-auto" style="max-width: 1000px;">
        <section>

            <div class="card mb-5 p-4">
                <h4>Üldised andmed</h4>
                <table class="table table-dark table-bordered mb-0" id="summary-table">
                    <thead>
                    <tr>
                        <th>Andmepunkt</th>
                        <th>Väärtus</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

            <div id="chart-container"
            ></div>

        </section>
    </div>
</main>

<footer class="footer text-center py-4 mt-5">
    <div class="container">
        © 2025 Kodutöö analüüs • Romet Vinnal - Bakalaureusetöö
        <p id="footer-hwname"></p>
    </div>
</footer>

</body>
</html>
