.flatpickr-calendar {
    border: 2px solid #4f78d6;
}

.flatpickr-day:hover,
.flatpickr-day.selected,
.flatpickr-day.today {
    background: #4f78d6;
    color: #fff;
}

.flatpickr-time input {
    background-color: #333;
    color: #fff;
}

.flatpickr-months,
.flatpickr-month,
.flatpickr-weekdaycontainer {
    background-color: #2a2a38
}

input#date_range {
    background-color: #2b2b2b;
    color: #ffffff;
    border: 2px solid #4f78d6;
}